<%layout("/layouts/boilerplate.ejs")%>
<body>
    <!-- <h3>Edit your listings</h3> -->
    <!-- <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
        <input type="text" name="listing[title]" value="<%=listing.title%>"><br><br>
        <textarea type="text" name="listing[description]"><%=listing.description%></textarea><br><br>
        <input type="text" name="listing[image]" value="<%=listing.image%>" ><br><br>
        <input type="number" name="listing[price]" value="<%=listing.price%>"><br><br>
        <input type="text" name="listing[location]" value="<%=listing.location%>"><br><br>
        <input type="text" name="listing[country]" value="<%=listing.country%>"><br><br>
        <button>Save</button>
    </form> -->
    <div class="row">
        <div class="col-8 offset-2"><br><br>
            <h3>Edit your listings</h3>
            <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="title" class="form-lable" >Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control">
                </div>
            <div class="mb-3">    
                    <label for="description" class="form-lable" >Description</label>
                    <textarea type="text" name="listing[description]"  class="form-control"><%=listing.description%></textarea>
            </div>
            <div class="mb-3">
                    <label for="image" class="form-lable">Image</label>
                    <input type="text" name="listing[image]" value="<%=listing.image%>" class="form-control" >
            </div>  
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-lable">Price</label>
                    <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control">
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-lable">Country</label>
                    <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control">
                </div>
            </div> 
            <div class="mb-3">
                <label for="location" class="form-lable">Location</label>
                <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control">
            </div>  
            <br><br>  
                <button class="btn btn-dark save-btn">Save</button>
            </form>
        </div>
    </div>
</body>
